@charset "utf-8";
/* CSS Document */

td, th{
		
	width: 20%;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
	
	
}
table {
		
	width: 100%;
	margin:5px;
}

#tables {
	
	position:relative;
	top:-20px;
	padding: 20px;
	
}

header {
	
	height: 130px;
	background-color:#566466;
	padding:5px;
	
	
}

header img {
	
	display: block;
    margin:auto;
	max-width:100%;
	position:relative;
	left:-20px;
	
}

footer{
	
	height: 220px;
	background-color:#566466;
}

form {
	
	background-color:#a9c6c9;
	width: 100%;
	padding: 50px;
}


#submit {
	
	position:relative;
	left:50px;
	top: -35px;
	
		
}

input {
	
  padding : 5px;
  border-radius: 5px;
  	
}